<template>
  <require from="./dialog.css"></require>
  <ux-dialog>
    <ux-dialog-header>${ data.title & t}</ux-dialog-header>
    <ux-dialog-body>
      ${ data.text & t}
      <div class="alert alert-danger" role="alert" if.bind="isValidationError()">
        <ul>
          <li repeat.for="error of data.value">
            ${error & t}
          </li>
        </ul>
      </div>
      <div if.bind="!isValidationError()">
        ${ data.value }
      </div>
    </ux-dialog-body>
  </ux-dialog>
</template>
