body {
  font-family: 'Nunito', sans-serif;
}
.iconify-big {
  width: 30px;
  height: 30px;
}

/* to show iconify  icons in the middle on bootstrap buttons */
.btn-icon {
  padding-bottom: 8px;
  padding-top: 4px;
}

.btn-icon .iconify {
  width: 20px;
  height: 20px;
}

