<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <a class="navbar-brand" href="#">${'base.app_name' & t}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ${route.isActive ? 'active' : ''}" repeat.for="route of router.navigation">
          <a class="nav-link" href="#" href.bind="route.href">${route.title & t}</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <div class="dropdown">
            <button class="btn btn-light" type="button" id="langdropdown" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <span class="iconify iconify-big" data-icon="flat-color-icons:globe" data-inline="false"></span>
            </button>
            <div class="dropdown-menu" aria-labelledby="langdropdown">
              <button class="dropdown-item" type="button" onclick.call="changeLang('de')">
                ${ 'header.lang.german' & t}
              </button>
              <button class="dropdown-item" type="button" onclick.call="changeLang('en')">
                ${ 'header.lang.english' & t}
              </button>
              <button class="dropdown-item" type="button" onclick.call="changeLang('tr')">
                ${ 'header.lang.turkish' & t}
              </button>
            </div>
          </div>
        </li>
        <li class="nav-item">          
          <a class="nav-link" href="#/about">${ 'routes.about' & t}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href.bind="swaggerUrl" target="_blank">${ 'header.swaggerui' & t}</a>
        </li>
      </ul>
    </div>
  </nav>

  
</template>

